<!-- UTILIZAMOS "include" PARA INCLUIR LA CABECERA DE LA PAGINA -->
<%- include("template/cabecera", {tituloweb: 'Pagina de tareas'}) %>
    <div class="container">
        <h1 class="text-center my-3">MIS TAREAS</h1>
                <a href="/crear" class="btn btn-success btn-block my-4">Agregar nueva tarea</a>
                <!-- TABLA PARA MOSTRAR LOS DATOS DE LA BASE DE DATOS -->
                <table class="table text-center table-striped bg-white rounded">
                    <thead class="table-success">
                      <tr>
                        <!-- <th scope="col">ID</th> -->
                        <th scope="col">TAREA</th>
                        <th scope="col">AREA</th>
                        <th scope="col">DESCRIPCION</th>
                        <th scope="col">ESTADO</th>
                        <th scope="col">ACCION</th>
                      </tr>
                    </thead>
                    <tbody>
                <% if (arrayUsuarios.length > 0) { %>
                <% arrayUsuarios.forEach(element => { %>
                      <tr>
                        <!-- <th scope="row"><%= element.id %></th> -->
                        <td><%= element.tarea %></td>
                        <td><%= element.area %></td>
                        <td><%= element.descripcion %></td>
                        <td><%= element.estado %></td>
                        <td><a href="usuario/<%= element.id %>" class="btn btn-warning btn-sm">Editar</a></td>
                      </tr>
                <% }) %>
                <% } %>
                    </tbody>
                  </table>
           

    </div>

<!-- INCLUIMOS EL FOOTER POR MEDIO DE "include"  -->
<%- include("template/footer") %>